/* FORMATAÇÃO DO MENU *
----------------------------------------*/

#menucase {
    padding-top: 4%;
}

#stylefour{
    position:relative;
    display:block;
    height:39px;
    font-size:12px;
    font-weight:bold;
    background:transparent url(../_img/bgOFF.gif) repeat-x top left;
    font-family:Arial,Verdana,Helvitica,sans-serif;
    border-top:4px solid #D9AD42;
}

#stylefour ul{
    margin:0;
    padding:0 0 0 25%;
    list-style-type:none;
    width:auto;

}

#stylefour ul li{
    display:block;
    float:left;
    margin: 0;

}

#stylefour ul li a{
    display:block;
    float:left;
    color:#666;
    text-decoration:none;
    padding:11px 20px 0 20px;
    height:23px;
    background:transparent url(../_img/bgDIVIDER.gif) no-repeat top right;
}

#stylefour ul li a:hover,#stylefour ul li a.current{
    color:#D9AD42;
    background:#fff url(../_img/bgON.gif) no-repeat top right;
}